@using BusinessService.DTOs
@using Microsoft.AspNetCore.Http
@using PizzaStoreApp.Helper
@inject IHttpContextAccessor HttpContextAccessor
@{
    var session = @HttpContextAccessor.HttpContext.Session;
    Account login = SessionExtension.GetLoginUser(session);
}
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <title>@ViewData["Title"] - PizzaStoreApp</title>
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
            <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
            <link rel="stylesheet" href="~/PizzaStoreApp.styles.css" asp-append-version="true" />
        </head>
        <body>
            <header>
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                    <div class="container">
                        <a class="navbar-brand" asp-area="" asp-page="/Index">PizzaStoreApp</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                                </li>
                            </ul>
                        </div>
                        @if(login == null){
                                <label class="col-7"></label>
                                <a class="nav-item col-2 nav-link text-dark text-center" asp-area="" asp-page="/LoginEmployee">Login</a>
                                    <a class="nav-item col-2 nav-link text-dark text-center" asp-area="" asp-page="/RegisterEmployee">Register</a>
                         
                        } else {
                            <label class="col-7"></label>
                            <label class="col-2 text-dark">Welcome @login.FullName</label> 
                                <a class="nav-item col-2 nav-link text-dark text-center" asp-area="" asp-page="/LoginEmployee" onclick="@Logout">Log out</a>
                        }
                        
                    </div>
                </nav>
            </header>
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

            <footer class="border-top footer text-muted">
                <div class="container">
                    &copy; 2022 - PizzaStoreApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
                </div>
            </footer>

            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>

            @await RenderSectionAsync("Scripts", required: false)
        </body>
        </html>

@{
    void Logout()
    {
        SessionExtension.Set<Account>(session, "login-user", null);
    }
}