@page
@model PizzaStoreApp.Pages.HomePageModel
@{
    ViewData["Title"] = "Home page";
}

<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center mb-5 section-heading">
                <h2 class="mt-3 mb-5">All Pizza</h2>
            </div>
        </div>
        @if(Model.Message != ""){
            <span class="alert-danger">
                <p>@Model.Message</p>
            </span>
        }
        <div class="row">

            @foreach (var item in Model.Products)
            {

                <div class="col-md-6 col-lg-4   mb-5">
                    <div class="card" style="width:300px">
                        <img class="card-img-top" src="~/@item.ProductImage" style="height:200px; width:300px" alt="Card image cap">
                        <div class="card-body">
                            <h2 class=" mt-1 mb-1 text-center card-title">  @item.ProductName</h2>
                            @foreach (var type in Model.Categories)
                            {
                                if (item.CategoryId == type.CategoryId)
                                {
                                    <p><strong class="card-text">Type: @type.CategoryName</strong></p>
                                    <p><small class="card-text">Description: @type.Description</small></p>
                                }
                            }
                            <p class="card-text">Price: @item.UnitPrice đ / 1</p>
                            <form method="post">
                                <input type="hidden" name="id" value="@item.ProductId"/>
                                <input type="number" min="1" name="quantity" value="0"/>
                                    <button value="AddToCart" class="btn btn-primary">Add to Cart</button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<style>
    * {
        box-sizing: border-box;
    }

    .clear {
        clear: both;
    }

    html, body {
        font-family: 'Times New Roman', Times, serif;
    }

    .header img {
        width: 250px;
    }

    .header ul {
        list-style: none;
        background-color: black;
        padding: 15px 0;
        margin: 5px 0 10px;
    }

    .header a {
        text-decoration: none;
        color: white;
        font-size: 18px;
    }

    .header ul li {

        display: inline;
        margin: 0 10px;
    }


</style>

