@page
@model PizzaStoreApp.Pages.Management.Products.IndexModel

@{
    ViewData["Title"] = "Index";
}
@using BusinessService.DTOs
@using Microsoft.AspNetCore.Http
@using PizzaStoreApp.Helper
@inject IHttpContextAccessor HttpContextAccessor
@{
    var session = @HttpContextAccessor.HttpContext.Session;
    Account login = SessionExtension.GetLoginUser(session);
}
<h1>Pizza</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].QuantityPerUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Supplier)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityPerUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                         <img src="~/@Url.Content(item.ProductImage)" alt="@Url.Content(item.ProductImage)"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.CompanyName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProductId">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>


