@page
@model PizzaStoreApp.Pages.Customer.Orders.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].RequiredDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].ShippedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Freight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].ShipAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Account)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Order) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequiredDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Freight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.Username)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.OrderId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
